<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="shortcut icon" href="/icons/photos.svg" type="image/x-icon">
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
  <header class="header-bar">
    <a href="/">
      <h1>IMG.allery</h1>
    </a>
  </header>
  <form class="single-form" method="POST">
    <h2>Login</h2>
    <label for="username">User</label>
    <input name="username" placeholder="Login user..." type="text" minlength="6" maxlength="24" required autofocus />
    <label for="password">Password</label>
    <input name="password" type="password" placeholder="******" minlength="4" required />
    <button>Login</button>
  </form>
  <% if (message) { %>
    <span>
      <%= message %>
    </span>
    <% } %>
      <span>
        Need a count?
        <a href="/sign-up">
          <span>Sign-up</span>
        </a>
      </span>
</body>

</html>